.json-wrapper {
    transition: height 0.3s ease;
    overflow: hidden;
}


.btn-expand-bottom {
    margin: 5px 36px 0px 2px;
    padding: 2px 0 1px 0;
    float: right;
    color: #060606;
    border: none;
    cursor: pointer;
    background-color: white;
}

.material-icons {
    font-size: 35px;
}

.json-heading {
    background: #f1ac00;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
    margin-bottom: 5px;
    max-width: 80%;
    padding: 1rem 20px;
    border-radius: 4px;
}

@media only screen and (max-width: 600px) {
    .json-heading {
        font-size: 1.5em;
    }
}

.line-number-container {
    background: #434343;
    min-width: 3%;
    display: flex;
    border: 0.5px solid white;
    border-radius: 4px 0 0 4px;
}

.line-numbers {
    color: white;
    padding: 0px 10px;
    font-size: 15px;
}

.textarea-container {
    display: flex;
    justify-content: center;
    padding: 2rem 10px 10px 10px;
    height: 43rem;
}

.json-text-area {
    height: auto;
    width: 86%;
    color: white;
    border: 0.5px solid white;
    border-radius: 0 4px 4px 0;
    background: #00000063;
    font-size: 15px;
    box-shadow: 0 7px 14px rgb(0 0 0 / 60%);
    padding: 0 5px;
}

.json-text-area:focus {
    border: none !important;
}

.btn-container {
    margin: 0;
    justify-content: center;
    text-align: center;
    display: flex;
}

.btn-container .btns-jsontool {
    color: #080707;
    background: #ffffff;
    border: none;
    margin: 4px 7px;
    font-weight: bold;
}

.btn-container .btns-jsontool:hover {
    background: #ffffff !important;
    border: none !important;
    transform: scale(1.05);
    color: #080707 !important;
}
